# Virtual environment
.venv/
.vscode/
env/
# Python bytecode
__pycache__/
*.py[cod]

# Build/dist
build/
dist/
*.egg-info/

# tox environments
.tox/

# pytest cache & coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

tree.ps1
tox.ini
requirements-dev.txt
fix.patch

#src/testScript/